NEXT_PUBLIC_SUPABASE_URL=https://awirklcfkguisnfkxary.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3aXJrbGNma2d1aXNuZmt4YXJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkyNzk1NTEsImV4cCI6MjEwNDg1NTU1MX0.Ec58In_2G3EANtD2Y0psgPerGukLlNdDSVfrgA8hOw8
